.home-image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.centered-top {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  max-width: 900px;
}

.centered-top .list-group-item {
  opacity: 0.95;
}

.awards-judge-container {
  position: absolute;
  left: 50%;
  bottom: 8%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 900px;
  background-color: rgba(255, 255, 255, 0.96);
  padding: 2rem;
  border-radius: 0.5rem;
}

.awards-judge-heading {
  text-align: center;
}

.awards-judge-grid {
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
}
.awards-judge-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.awards-judge-grid > div:first-child p {
  margin-bottom: 0.5rem;
}

.awards-judge-grid > div:last-child ul,
.awards-judge-grid > div:last-child ol {
  margin-top: 0;
}

footer {
  width: 100%;
}

/* ≥ 1200px – desktop */
@media (min-width: 1200px) {
  .centered-top {
    top: 18%;
  }

  .awards-judge-container {
    bottom: 8%;
  }
}

/* 992px – 1199px */
@media (max-width: 1199.98px) {
  .centered-top {
    top: 15%;
    width: 80%;
  }

  .awards-judge-container {
    bottom: 6%;
    width: 80%;
  }
}

/* 768px – 991px */
@media (max-width: 991.98px) {
  .centered-top {
    top: 12%;
    width: 85%;
  }

  .awards-judge-container {
    bottom: 5%;
    width: 85%;
  }
}

/* @media (max-width: 576px) {
  .awards-judge-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .judge-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .judge-row strong {
    white-space: nowrap;
  }
} */

@media (max-width: 576px) {
  .awards-judge-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .judge-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .judge-row strong {
    white-space: nowrap;
  }
}
