.dates-info {
  text-align: center;
}
.home-image-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: auto;
}
.home-image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 75%;
}
.table-white td {
  color: #736699;
  font-weight: bold;
  border: 5px solid #736699;
}
.table-white th {
  background-color: #736699;
  color: white;
  border: 5px solid white;
}
