.home-image-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: auto;
}
.home-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 75%;
}
.centered .index-heading {
  font-size: 2.8rem;
  font-weight: 700;
  color: #736699;
}
.centered .index-subheading {
  font-size: 1.2rem;
  color: #736699;
}
.grid-cards {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.card {
  transition: 0.3s;
  border: none;
  border-radius: 15px;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}
.grid-card-link {
  text-decoration: none;
  color: inherit;
}
.card-body i {
  color: #54456b;
}
.invitation-container {
  text-align: center;
  padding: 60px 20px;
}
.invitation-container h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .centered .index-heading {
    font-size: 2rem;
  }

  .centered .index-subheading {
    font-size: 1rem;
  }

  .navbar-collapse {
    padding: 15px;
    border-radius: 10px;
  }
}
@media (max-width: 576px) {
  .centered .index-heading {
    font-size: 1.6rem;
  }

  .centered .index-subheading {
    font-size: 0.9rem;
  }

  .home-image-container {
    height: 80vh;
  }
}
