body {
  background-color: #736699;
}
.regulation {
  height: 50vh;
}
.regulation-image {
  height: inherit;
  object-fit: initial;
  width: 100%;
}
.regulation-container .list-group {
  text-align: left;
  margin-top: 15%;
  width: 100%;
}
.table-regulation ol {
  list-style-type: none;
  text-align: left;
}
.table-regulation td {
  text-align: left;
}
.centered-top {
  width: 70%;
  margin: auto;
  margin-top: -27%;
}
thead {
  text-align: center;
}
@media (max-width: 1200px) {
  .centered-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 992px) {
  .centered-top {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 576px) {
  .centered-top {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
