.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}
.home-image-container {
  position: relative;
  text-align: center;
  overflow: hidden;
  height: auto;
}
.home-image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
table td:first-child {
  white-space: nowrap;
}
table td:nth-child(even) {
  color: white;
  font-weight: bold;
  border: 5px solid white;
  background-color: #736699 !important;
}
table td:nth-child(odd) {
  color: #736699;
  font-weight: bold;
  background-color: white;
  border: 5px solid #736699;
}
