body {
  font-family: "Segoe UI", sans-serif;
}
.custom-navbar {
  backdrop-filter: blur(4px);
  position: absolute;
  z-index: 100;
  width: 100%;
}
.navbar-nav .nav-link {
  color: black !important;
  font-weight: 500;
  transition: 0.3s;
}
.navbar-nav .nav-link:hover {
  color: #736699 !important;
  transform: translateY(-2px);
}
.container-logo {
  background-color: white;
  border: 3px solid #54456b;
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s;
}
footer .btn {
  transition: 0.3s;
}
footer .btn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}
